@import "normalize.css";
@import "fonts.css";

body {
  width: 100%;
  height: 100%;
  min-width: 997px;

  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;

  color: #272727;

  background-color: rgba(217, 231, 237, 0.3);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 997px;
  padding: 0 24px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-grow: 1;
}

.main__wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 997px;
  width: 100%;
  padding: 24px;
  margin: 0 auto;
  background-color: #ffffff;
}

.header {
  background-color: #760808;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 12px 0;
}

.logo {
  color: #ff6e40;
}

.logo:hover {
  color: #ffffff;
}

.nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 40px;

  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

.nav__link {
  padding: 5px;
  text-decoration: none;
  color: #f0dfdf;
  border-bottom: 1px solid transparent;

  transition: color 0.3s ease-in, opacity 0.3s ease-in;
}

.nav__link:hover {
  color: #ff6e40;
}

.nav__link:focus,
.nav__link:focus-within {
  outline: none;
  border-color: #ff6e40;
}

.nav__link:active {
  opacity: 0.6;
}

.nav__link.is-active {
  color: #ff6e40;
  pointer-events: none;
}

.logout {
  margin-left: 107px;
  background-color: transparent;
  border: none;
  color: #f0dfdf;
}

.section {
  padding: 16px;
  border-radius: 10px;
  background-color: #f7f9ff;
}

.section-title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 1.5;
}

.user-info {
  display: flex;
  justify-content: space-between;
}

.user-info__avatar {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user-info__name {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
}

.user-info__img {
  max-width: 128px;
  max-height: 128px;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  border: 1px solid rgba(118, 8, 8, 0.5);
  border-radius: 4px;
  aspect-ratio: 1/1;
}

.user-info__properties {
  display: flex;
  align-items: center;
  gap: 16px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.user-info__properties-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info__properties-title {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #999797;
}

.user-info__properties-desc {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.about {
  display: flex;
  gap: 24px;
}

.about__inner {
  width: 50%;
}

.about__content p {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 400;
}

.send-me {
  margin-top: 32px;
  padding: 12px 24px;
  background-color: #760808;
  border: none;
  font-weight: 400;
  color: #ffffff;
}

.about__list-wrapper,
.about__list-inner {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about__list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about__list-item {
  display: flex;
  flex-direction: column;
}


.about__list-inner-item {
  padding: 2px 28px;
  border-radius: 4px;
  font-weight: 400;
  color: #272727;
}

.about__list-inner-item.accent {
  background-color: #d9e7ed;
}

.tools {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.tools__title {
  margin-bottom: 8px;
  padding-left: 0;
  text-transform: lowercase;
}

.tools__column:first-child .tools__title {
  text-transform: initial;
}

.tools__column:first-child .tools__item {
  text-transform: lowercase;
}

.tools__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tools__item {
  display: flex;
  align-items: center;
  line-height: 1;
  min-height: 31px;
  padding: 0 8px 0 22px;
  border-radius: 4px;
  font-weight: 400;
}

.tools__item svg {
  margin-left: 10px;
  margin-top: -10px;
}

.tools__item.is-like {
  background-color: #d9edd0;
}

.tools__item.is-dislike {
  background-color: #f8d0d0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #000000;
}

.copy {
  margin: 0;
  padding: 40px 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  opacity: 0.6;
}

/* modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;

  transform: scale(1.2);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  width: 100vw;
  height: 100vh;

  transition: transform 0.3s ease-in, opacity 0.3s ease-in, visibility 0.3s ease-in;
}

.modal.is-active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);

  pointer-events: auto;
}

.modal__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.modal__content {
  position: relative;

  max-width: 646px;
  width: 100%;
  padding: 40px 24px;

  background-color: #ffffff;
}

.modal__title {
  margin: 0;
  margin-bottom: 40px;

  font-family: inherit;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 400;
  color: #000000;

  text-align: center;
}

.modal__close {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: transparent;
  border: none;
  padding: 11px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #272727;

  cursor: pointer;

  transition: opacity 0.3s ease, color 0.3s ease;
}

.modal__close:hover {
  /* навели на элемент */
  color: #760808;
}

.modal__close:focus {
  /* на элемент нажали и отпустили */
  opacity: 0.8;
}
.modal__close:focus:hover {
  opacity: 1;
}

.modal__close:active {
  color: #272727;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 26px;
}

.modal__field:last-child {
  margin-bottom: 0;
}

.modal__label {
  margin-bottom: 5px;

  font-family: inherit;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
  color: #000000;
}

.modal__input {
  padding: 15px 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);

  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;

  cursor: pointer;

  transition: border-color 0.3s ease;
}

.modal__textarea {
  min-height: 214px;
  resize: none;
}

.modal__input:hover {
  border-color: #000000;
}

.modal__input:focus {
  border-color: #039ef9;
  outline: none;
}

.modal__send {
  max-width: 173px;
  width: 100%;
  padding: 13px 24px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;

  border: 1px solid transparent;
  background-color: #760808;

  transition: opacity 0.3s ease, color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.modal__send:hover {
  /* навели на элемент */
  color: #760808;
  background-color: #ffffff;
  border-color: #760808;
}

.modal__send:focus {
  /* на элемент нажали и отпустили */
  border-color: #272727;
  background-color: rgba(118, 8, 8, 0.8);
}
.modal__send:focus:hover {
  background-color: #760808;
  border-color: transparent;
  color: #ffffff;
}

.modal__send:active {
  /* на элемент нажали */
  opacity: 0.6;
}

.is-active-link {
  pointer-events: none;
  color: #ff6e40;
  cursor: initial;
}