@import "normalize.css";
@import "fonts.css";

body {
  width: 100%;
  height: 100%;
  min-width: 997px;

  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;

  color: #272727;

  background-color: rgba(217, 231, 237, 0.3);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 997px;
  padding: 0 24px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-grow: 1;
}

.main__wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 997px;
  width: 100%;
  padding: 24px;
  margin: 0 auto;
  background-color: #ffffff;
}

.header {
  background-color: #760808;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 12px 0;
}

.logo {
  color: #ff6e40;
}

.logo:hover {
  color: #ffffff;
}

.nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 40px;

  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

.nav__link {
  padding: 5px;
  text-decoration: none;
  color: #f0dfdf;
}

.nav__link.is-active {
  color: #ff6e40;
  pointer-events: none;
}

.logout {
  margin-left: 107px;
  background-color: transparent;
  border: none;
  color: #f0dfdf;
}

.section {
  padding: 16px;
  border-radius: 10px;
  background-color: #f7f9ff;
}

.section-title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 1.5;
}

.user-info {
  display: flex;
  justify-content: space-between;
}

.user-info__avatar {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user-info__name {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
}

.user-info__img {
  max-width: 128px;
  max-height: 128px;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  border: 1px solid rgba(118, 8, 8, 0.5);
  border-radius: 4px;
  aspect-ratio: 1/1;
}

.user-info__properties {
  display: flex;
  align-items: center;
  gap: 16px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.user-info__properties-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info__properties-title {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #999797;
}

.user-info__properties-desc {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.about {
  display: flex;
  gap: 24px;
}

.about__inner {
  width: 50%;
}

.about__content p {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 400;
}

.send-me {
  margin-top: 32px;
  padding: 12px 24px;
  background-color: #760808;
  border: none;
  font-weight: 400;
  color: #ffffff;
}

.about__list-wrapper,
.about__list-inner {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about__list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about__list-item {
  display: flex;
  flex-direction: column;
}


.about__list-inner-item {
  padding: 2px 28px;
  border-radius: 4px;
  font-weight: 400;
  color: #272727;
}

.about__list-inner-item.accent {
  background-color: #d9e7ed;
}

.tools {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.tools__title {
  margin-bottom: 8px;
  padding-left: 0;
  text-transform: lowercase;
}

.tools__column:first-child .tools__title {
  text-transform: initial;
}

.tools__column:first-child .tools__item {
  text-transform: lowercase;
}

.tools__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tools__item {
  display: flex;
  align-items: center;
  line-height: 1;
  min-height: 31px;
  padding: 0 8px 0 22px;
  border-radius: 4px;
  font-weight: 400;
}

.tools__item svg {
  margin-left: 10px;
  margin-top: -10px;
}

.tools__item.is-like {
  background-color: #d9edd0;
}

.tools__item.is-dislike {
  background-color: #f8d0d0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #000000;
}

.copy {
  margin: 0;
  padding: 40px 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  opacity: 0.6;
}
